* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-height: 100ch;
}

header {
  padding: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f0f0f0;
  background-color: #4682b4;
}

header h1 {
  padding: 1rem;
}

header form {
  background-color: #f0f0f0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 60%;
  border-radius: 4px;
}

header form svg {
  position: absolute;
  right: -30%;
  cursor: pointer;
}

header form input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-indent: 1rem;
}

header form button {
  position: absolute;
  right: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

main ul {
  margin: 1rem 0 1rem 0;
  width: 70%;
  list-style: none;
  height: 100%;
}

main ul li {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'image title'
    'image paragraph'
    'image tags'
    'image date'
    'image anchor';
  gap: 10px;
}

#noticia-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  grid-area: image;
}

#noticia-title {
  grid-area: title;
  font-size: 1.2rem;
  font-weight: bold;
}

#noticia-paragraph {
  grid-area: paragraph;
}

#noticia-tags {
  grid-area: tags;
  color: gray;
}

#noticia-date {
  grid-area: date;
  color: gray;
}

noticia-anchor {
  grid-area: anchor;
  color: #4682b4;
  text-decoration: none;
}

footer {
  padding: 2rem;
  color: #f0f0f0;
  text-align: center;
  background-color: #4682b4;
}
