* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-height: 100ch;
}

header {
  padding: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f0f0f0;
  background-color: #4682b4;
}

header h1 {
  padding: 1rem;
}

header form {
  background-color: #f0f0f0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 60%;
  border-radius: 4px;
}

header form svg {
  position: absolute;
  right: -30%;
  cursor: pointer;
}

header form input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-indent: 1rem;
}

header form button {
  position: absolute;
  right: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
}

main ul {
  list-style: none;
}

#noticia-list {
  margin: 1rem 0 1rem 0;
  width: 75%;
}

#noticia-list li {
  display: grid;
  grid-template-areas:
    'image title'
    'image paragraph'
    'image omega'
    'image anchor';
  gap: 8px;
}

#noticia-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  grid-area: image;
}

#noticia-title {
  grid-area: title;
  font-size: 1.2rem;
  font-weight: bold;
}

#noticia-paragraph {
  grid-area: paragraph;
  font-size: 0.9rem;
}

#omega {
  display: flex;
  justify-content: space-between;
  grid-area: omega;
}

#noticia-tags,
#noticia-date {
  font-size: 0.8rem;
}

#noticia-anchor {
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  background-color: #c4c4c454;
  font-size: 14px;
}

#noticia-divisor {
  margin: 1rem 0 1rem 0;
}

#pagination {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

#pagination li button {
  width: 2.5rem;
  height: 2.5rem;
  color: #4682b4;
  border-color: #4682b4;
  border-radius: 4px;
  cursor: pointer;
}

#pagination li {
  margin: 0 4px 0 4px;
}

#pagination li button:hover,
#pagination li button#current-page {
  transition: 0.2s ease-in-out;
  color: #f0f0f0;
  background-color: #4682b4;
}

#pagination li button {
  border: 2px solid #4682b4;
}

footer {
  padding: 2rem;
  color: #f0f0f0;
  text-align: center;
  background-color: #4682b4;
}
